.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar-custom {
  background-color:  #FFFDFA ; ;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(12, 88, 46, 0.8);
}
.navbar-custom .navbar-nav .nav-link {
  color: rgba(12, 88, 46, 0.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: black;
}
.navbar a{
  font-family: Garamond, serif;
}
.navbar-brand {
  font-family: Garamond, serif;
  font-weight: 900;
  font-size: 45px;
}

.img-wrapper{
  position: relative;
}
.img-responsive{
  width: 100%;
  height: auto;
}
.img-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 500px;
  right: 0;
  text-align: center;
}
.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
.btn-primary {
  color: #fff;
  background-color: #02B290;
  background-color: cutom-color;
  border-color: white;
  border-color: cutom-cor;
}
.card{
  top: 10px;
  bottom: 5px;
  left: 2px;
  right: 2px;
  text-align: center;
  font-family:"Lucida Console", "Courier New", monospace;
  font-size: 20px;
  border-color: white;
  color: rgba(12, 88, 46, 0.8);

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
